<body>
    <header [style.minWidth.px]="close">
        <button (click)="sideMenu()"><fa-icon [icon]="faRocket"></fa-icon></button>
        <nav>
            <div>
                <fa-icon [icon]="faCompass"></fa-icon>
                <span *ngIf="menu">Dashboard</span>
            </div>
            <div>
                <fa-icon [icon]="faBookmark"></fa-icon>
                <span *ngIf="menu">Bookmarks</span>
            </div>
        </nav>
    </header>

    <main>
        <div class="search">
            <fa-icon [icon]="faSearch"></fa-icon>
            <input type="text" placeholder="Search For Rocket Launches">
        </div>
    </main>
</body>