* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  background-color: #10141e;
  display: flex;

  main {
    width: 100%;
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    form {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 2rem;

      fa-icon {
        font-size: 25px;
        color: white;
      }

      input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        padding-bottom: 5px;
        color: gray;
        font-size: 25px;
      }

      input:focus {
        border-bottom: 1px solid white;
      }
    }

    .container {
      width: 100%;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      color: white;

      .box {
        display: flex;
        flex-direction: column;
        border: 1px solid #ddd;
        padding: 15px;
        margin: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        max-width: 280px;

        &:hover {
          transform: scale(1.05);
        }

        .mission-image {
          max-width: 100%;
          height: auto;
          border-radius: 8px;
          margin-bottom: 10px;
        }

        .mission-details {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }

        .launch-date,
        .rocket-name,
        .site-name {
          color: #777;
          margin-bottom: 5px;
        }

        .launch-status {
          display: flex;
          gap: 0.5rem;
        }

        .details {
          font-weight: bold;
          padding: 8px;
          border-radius: 4px;
          color: #fff;
          text-align: center;
          background-color: #f44336;
          margin-top: 10px;
          cursor: pointer;
        }

        .success {
          color: #4caf50;
        }

        .failure {
          color: #f44336;
        }

        button {
          background-color: transparent;
          border: none;
          color: white;
          display: flex;
          justify-content: flex-end;
          font-size: 20px;

          fa-icon {
            cursor: pointer;
          }
        }

        span {
          font-size: 13px;
          color: #555;
          font-weight: 300;
        }
      }
    }


    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-top: 2rem;

      ::ng-deep {

        .ngx-pagination {
          padding-left: 0px;
        }

        .ngx-pagination .pagination-previous span {
          display: none;
        }

        .ngx-pagination .pagination-next span {
          display: none;
        }

        .ngx-pagination a {
          color: white;
        }


        .ngx-pagination .current,
        .btn-info {
          background: #17a2b8;
          border: transparent;
          border-radius: 20px;
        }

        .ngx-pagination a:hover,
        .ngx-pagination button:hover {
          background: #17a2b8;
          border: transparent;
          border-radius: 20px;
        }
      }
    }

    .pop_up {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #161d2f;
      color: white;
      padding: 20px;
      max-width: 600px;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      z-index: 1000;
      border-radius: 8px;

      .close-icon {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2rem;
        cursor: pointer;
      }

      .popup-header {
        display: flex;
        align-items: center;

        .mission-patch {
          max-width: 80px;
          margin-right: 20px;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h3 {
          font-size: 1.5em;
          margin: 0;
        }
      }

      .popup-body {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .launch-info,
        .additional-info {
          flex: 1;

          p {
            color: #d1d1d1;
          }

          span {
            color: #a0a0a0;
          }
        }

        .launch-status {
          margin-top: 10px;
          display: flex;
          gap: 0.5rem;

          p {
            font-weight: bold;
            margin: 0;
          }

          .success {
            color: #4caf50;
          }

          .failure {
            color: #f44336;
          }
        }
      }

      .popup-footer {
        margin-top: 20px;

        .details {
          margin-bottom: 10px;
        }

        .links {
          a {
            display: inline-block;
            margin-right: 10px;
            text-decoration: none;
            color: #3498db;
            transition: color 0.3s;

            &:hover {
              color: #1a6188;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .popup-body {
    flex-direction: column;
  }
}