body {
  width: 100%;
  height: 100vh;
  background-color: #10141e;
  display: flex;


  header {
    height: 100vh;
    padding: 20px;
    padding-top: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #161d2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transition: margin-left 0.3s ease-in-out;


    button {
      position: absolute;
      left: 20px;
      background-color: transparent;
      padding: 5px 7px;
      color: #fc4747;
      cursor: pointer;
      font-size: 20px;
      border: 2px solid #fc4747;
      border-radius: 5px;
    }

    nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1rem;
      color: white;
      margin-top: 5rem;

      div {
        margin: 30px 10px;
        display: flex;
        gap: 1rem;
        height: 20px;
        font-size: 20px;
        cursor: pointer;
      }

      div:hover {
        color: #fc4747
      }
    }
  }

  main {
    width: 100%;
    padding: 20px;
    padding-top: 50px;
    height: 100vh;
    position: relative;


    .search {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 2rem;

      fa-icon {
        font-size: 25px;
        color: white;
      }

      input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        padding-bottom: 5px;
        color: gray;
        font-size: 25px;
      }

      input:focus {
        border-bottom: 1px solid white;
      }
    }
  }


}